 <footer class="footer">
        <div class="footer__attribution">Powered by <a class="footer__attribution-link" href="https://www.11ty.dev/">@11ty</a> + <a class="footer__attribution-link" href="https://netlify.com">Netlify</a></div>
        <ul class="footer__links">
            <li class="footer__links-item"><a class="footer__links-link" href="https://twitter.com/ajclarkson" title="Follow @ajclarkson on Twitter"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="footer__links-item"><a class="footer__links-link" href="https://uk.linkedin.com/in/ajclarkson" title="Connect with ajclarkson on LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </footer>