 <footer>
        <div>Powered by <a href="https://www.11ty.dev/">@11ty</a> + <a href="https://netlify.com">Netlify</a></div>
        <ul>
            <li><a href="https://twitter.com/ajclarkson"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://uk.linkedin.com/in/ajclarkson"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </footer>