<section class="masthead">
I'm an Engineering Manager with the fantastic people at <a href="https://ocadotechnology.com/" title="Ocado Technology">Ocado Technology</a>, where I focus on enabling autonomy and building high performing teams.
</section>