<header>
        <nav class="navbar">
            <span class="navbar__brand"><a class="navbar__link" href="/" title="Home"><img src="/img/logo.png" alt="Adam James Clarkson"/></a></span>
            <ul class="navbar__list">
                <li class="navbar__list-item"><a class="navbar__link" href="/blog" title="Blog">Blog</a></li>
                <li class="navbar__list-item"><a class="navbar__link" href="/about" title="About">About</a></li>
            </ul>
        </nav>
    </header>