<header>
        <nav class="flexbox">
            <a href="/" title="Home"><img src="/img/logo.png" alt="Adam James Clarkson" /></a>
            <ul>
                <li><a href="/blog" title="Blog">Blog</a></li>
                <li><a href="/about" title="About">About</a></li>
            </ul>
        </nav>
    </header>