<section class="post-list">
{% for post in postslist | reverse %}
  <div class="post-list__item">
    <div class="post-list__item-date">{{ post.date | readableDate }}</div>
    <h3 class="post-list__item-title"><a class="post-list__item-link"href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
    <div class="post-list__item-excerpt">{{ post.data.excerpt }}</div>
  </div>
{% endfor %}
</section>