//
// base.scss - ajclarkson.co.uk
//
// sets sensible defaults on the html root
//

html, :root {
	font-family:$serif-font;
	font-size:$base-font-size;
	font-weight:400;
	line-height: $baseline-unitless;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
	font-kerning: normal;

	background-color:$head-background;
	color:$body-text;

	@media screen and (min-width: 500px) {
		font-size:$base-font-size * 1.1;
	}
	@media screen and (min-width: 860px) {
		font-size:$base-font-size * 1.3;
	}
	@media screen and (min-width: 1200px){
		font-size:$base-font-size * 1.5;
	}

	&.dark-mode {
		background-color: $page-invert;
		color: $body-text-invert;
	}
}

