//
// content.scss - ajclarkson.co.uk
//
// website main content styling
//

.post_date {
	margin-bottom:$baseline;
	text-align:center;
}

.excerpt {
	margin-bottom:$baseline;
	padding-bottom:$baseline;
	
	.typed-cursor{
	    opacity: 1;
	    -webkit-animation: blink 1s infinite;
	    -moz-animation: blink 1s infinite;
	    animation: blink 1s infinite;
	}
	@keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-webkit-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-moz-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}


	
}

.site_content {
	margin-top:0;

	background:$page-color;

	clear:both;

	.dark-mode & {
		
		background:$page-invert;
		
	}
}

#masthead {
	background:$head-background;
	color:$light-complement;
	margin-top:130px;

	.dark-mode & {
		background:$background-invert;
		color:$dark-complement-invert;
	}

	
}
#masthead .home {
		padding:$baseline*2 $baseline;
	}

.content_block {
	width: 100%;
	margin: 0 auto;

	@media (min-width:500px) {
		width:80%;
	}
}

.banner-title {
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	padding:$baseline * 3.5 0 $baseline;
	margin:$baseline 0 $baseline * 2;
	border-bottom:2px solid $light-complement;
	
	.dark-mode & {
		border-bottom:2px solid $light-complement-invert;
	}
}
.stack {
	background:url('/static/images/stack.png') no-repeat;
	background-position:top center;
}

#process {
	list-style-type:none;
	padding:0 0 $baseline * 2;
	border-bottom:2px solid $light-complement;
	@extend %clearfix;
	margin-bottom:$baseline;

	.dark-mode & {
		border-bottom:2px solid $light-complement-invert;
	}

	li {
		display:block;
		float:left;
		width:50%;
		text-align:center;
		padding-top:$baseline * 4.2;
		margin-bottom:$baseline;

		@media (min-width:500px) {
			
			padding-top:$baseline * 4.2;
		}

		@media (min-width:700px) {
			width:25%;
			margin-bottom:0;
			padding-top:$baseline * 4.5;	
		}

		@media (min-width:860px) {
			margin-bottom:0;
			padding-top:$baseline * 3.5;
		}
	}

	#process-discuss {
		background:url('/static/images/discuss.png') no-repeat top center;
	}
	#process-design {
		background:url('/static/images/design.png') no-repeat top center;
	}
	#process-develop {
		background:url('/static/images/develop.png') no-repeat top center;
	}
	#process-deliver {
		background:url('/static/images/deliver.png') no-repeat top center;
	}
}
#services {
	width:100%;
	@extend %clearfix;
	padding:0 0 $baseline;
	border-bottom:2px solid $light-complement;
	margin-bottom:$baseline * 2;

	.dark-mode & {
		border-bottom:2px solid $light-complement-invert;
	}
}
#skills-intro {
	width:100%;
	padding: 0 $baseline;

	@media (min-width:700px) {
		width:70%;
		float:left;
	}
}
#hire-box {
	width:100%;
	padding: 0 $baseline;

	.avatar {
		display:block;
		margin:0 auto $baseline;
		width:100%;
		max-width:110px;
		border-radius:100px;
	}

	a {
		padding:$baseline/8;
		display:block;
		margin-bottom:$baseline/4;
		text-align:center;
		background:#68717D;
		border-radius:5px;
	}

	@media (min-width:700px){
		float:left;
		width:30%;
	}
	
}

figure {
	display:block;
	width:100%;
	margin-bottom:$baseline;

	@media (min-width:500px) {
		width:120%;
		margin-left:-10%;
	}
}

#post_meta {
	margin:$baseline/4 auto $baseline/2;
	padding-top:$baseline/4;
	border-top:1px solid $light-complement;

	ul {
		list-style-type:none;
		padding-left:0;

		li {
			display:inline-block;

			a:after { content: ", "; }
		}
		li:last-child { a:after { content: ""; } }
	}

	.dark-mode & {
		border-top:1px solid $light-complement-invert;
	}
}

.next_link, .previous_link {
	display:none;
	position:fixed;
	top:50%;
	border-radius:30px;
	height:75px;
	width:80px;
	text-indent:-9999999px;

	@media (min-width:860px) {
		display:block;
	}
}
.next_link {
	background:url('/static/images/left-arrow.png') no-repeat 31px center $body-text;
	left:-25px;
}
.previous_link {
	background:url('/static/images/right-arrow.png') no-repeat 18px center $body-text;
	right:-25px;
}

#tags_list {
	list-style-type:none;
	margin-top:$baseline/2;
	li {
			display:inline-block;
			margin:0 $baseline/4 $baseline/4 0;
			padding:$baseline/4;

			background:$background;
			border-radius:10px;
			a, a:visited {
				color:$alternate-highlight;

				.dark-mode & {
					color:$alternate-highlight-invert;
				}
			}
			a:hover, a:active {
				color:$dark-complement;

				.dark-mode & {
					color:$dark-complement-invert;
				}
			}

			.dark-mode & {
				background:$background-invert;
			}
		}

}

#recent_articles {
	list-style-type:none;
	margin-top:$baseline/2;
	li {
		margin-bottom:$baseline/2;
	}

}

.avatar {
	max-width:300px;
	margin:0 auto $baseline;
	text-align:center;
}

a:link.twitter , a:visited.twitter { color:#00acee; }
a:link.instagram, a:visited.instagram { color:#634d40;}
a:link.dribbble, a:visited.dribbble { color:#ea4c89;}
a:link.strava, a:visited.strava { color:#fc4c02; }
a:link.github, a:visited.github { color:#171515; 
	.dark-mode & {
		color:$light-complement-invert;
	}
}


a:hover.twitter, a:active.twitter, a:hover.instagram, a:active.instagram,
a:hover.dribbble, a:active.dribbble, a:hover.github, a:active.github,
a:hover.strava, a:active.strava {
	color:$dark-complement;

	.dark-mode & {
		color:$dark-complement-invert;
	}
} 

#disqus_thread {

	.dark-mode & {
		padding:$baseline;
		background:$background;
		border-radius:$baseline;
	}
}