//
// footer.scss - ajclarkson.co.uk
//
// website footer styling
//

#site_footer {
	margin:$baseline*2 0 0 0;

	background: $head-background;
	color:$dark-complement;

	#footer_content {
		padding:$baseline auto;
		max-width:600px;
		text-align:center;
	}

	.dark-mode & {
		background:$background-invert;
		color:$dark-complement-invert;
	}

}