//
// footer.scss - ajclarkson.co.uk
//
// website footer styling
//

#site_footer {
	margin:$baseline 0 0 0;

	background: $head-background;
	color:$dark-complement;

	#footer_content {
		padding:$baseline auto;
		max-width:600px;
		text-align:center;
	}

	.dark-mode & {
		background:$background-invert;
		color:$dark-complement-invert;
	}

}

.social-icons {
	list-style-type: none;
	text-align:center;
	margin:0 auto $baseline;
	width:100%;
	display:block;
	li {
		display:inline-block;
		margin-right:$baseline;
	}
	li:last-child {
		margin-right:0;
	}
}