---
import { getCollection } from "astro:content";
import PageLayout from '../../layouts/PageLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
const allPosts = await getCollection("blog");
const pageTitle = "Articles";
---
<PageLayout pageTitle={pageTitle}>
    <div class="container-small">
        <div class="row page-title">
            <div class="col-100">
                <h1>Post Archive</h1>
            </div>
        </div>
    <div class="row full-row-border-bottom post-year-group-title">
        <div class="col-100">
            <h2>2025</h2>
        </div>
    </div>
    {allPosts.map(( post: any) => <BlogPost url={`/blog/${post.id}`} title={post.data.title} date={post.data.pubDate} />)}
    </div>
</PageLayout>
