//
// content.scss - ajclarkson.co.uk
//
// website main content styling

.post_date {
	margin-bottom:$baseline;
	text-align:center;
}

.excerpt {
	margin-bottom:$baseline;
	padding-bottom:$baseline;
	border-bottom:1px solid $light-complement;
}

.site_content {
	padding-top:$baseline*2;
	border-top:4px solid $highlight;
}

.content_block {
	width: 100%;
	margin: 0 auto;

	@media (min-width:500px) {
		width:80%;
	}
}

figure {
	display:block;
	width:100%;
	margin-bottom:$baseline;

	@media (min-width:500px) {
		width:120%;
		margin-left:-10%;
	}
}

#post_meta {
	margin:$baseline/4 auto $baseline/2;
	padding-top:$baseline/4;
	border-top:1px solid $light-complement;

	ul {
		list-style-type:none;
		padding-left:0;

		li {
			display:inline-block;

			a:after { content: ", "; }
		}
		li:last-child { a:after { content: ""; } }
	}
}

.next_link, .previous_link {
	display:none;
	position:fixed;
	top:50%;
	border-radius:30px;
	height:75px;
	width:80px;
	text-indent:-9999999px;

	@media (min-width:860px) {
		display:block;
	}
}
.next_link {
	background:url('/images/left-arrow.png') no-repeat 31px center $body-text;
	left:-25px;
}
.previous_link {
	background:url('/images/right-arrow.png') no-repeat 18px center $body-text;
	right:-25px;
}

#tags_list {
	list-style-type:none;
	margin-top:$baseline/2;
	li {
			display:inline-block;
			margin:0 $baseline/4 $baseline/4 0;
			padding:$baseline/4;

			background:$background;
			border-radius:10px;
			a, a:visited {
				color:$alternate-highlight;
			}
			a:hover, a:active {
				color:$dark-complement;
			}
		}

}

#recent_articles {
	list-style-type:none;
	margin-top:$baseline/2;
	li {
		margin-bottom:$baseline/2;
	}

}

.avatar {
	max-width:200px;
	margin:0 auto $baseline;
	text-align:center;
}

a:link.twitter , a:visited.twitter { color:#00acee; }
a:link.instagram, a:visited.instagram { color:#634d40;}
a:link.dribbble, a:visited.dribbble { color:#ea4c89;}
a:link.github, a:visited.github { color:#171515; }
a:link.strava, a:visited.strava { color:#fc4c02; }