/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

body {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table; }

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both; }

/* =Typography
----------------------------------------------- */
body,
button,
input,
select,
textarea {
  color: #222222;
  font-family: "jubilat", georgia, serif;
  font-size: 16px;
  font-size: 1.6em;
  line-height: 1.4; }

h1 {
  font-size: 5em;
  font-weight: 600;
  line-height: 1.1em;
  font-family: "futura-pt", sans-serif;
  margin-bottom: .5em;
  letter-spacing: -.04em; }

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  font-family: "futura-pt", sans-serif;
  margin-bottom: .5em;
  margin-top: .5em; }

/*26/16*/
h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  font-family: "futura-pt", sans-serif;
  margin-bottom: 1.5em;
  text-transform: uppercase; }

/*21/16*/
h4 {
  font-size: 1.125em;
  line-height: 1.5em; }

/*18/16*/
h5 {
  font-size: 1em;
  line-height: 1.5em; }

/*16/16*/
strong {
  font-weight: 600;
  letter-spacing: .03em; }

em {
  font-style: italic; }

.social-links a {
  display: inline-block;
  font-size: .5em;
  width: 32px;
  height: 32px;
  text-align: left;
  text-indent: -99999px; }

a.twitter-button, footer a.twitter-button:hover {
  background: url("/images/twitter_bird.png") no-repeat center center; }

a.email-button, footer a.email-button:hover {
  background: url("/images/email.png") no-repeat center center; }

a.rss-button, footer a.rss-button:hover {
  background: url("/images/rss.png") no-repeat center center; }

footer a.twitter-button, a.twitter-button:hover {
  background: url("/images/twitter_bird_alt.png") no-repeat center center; }

footer a.email-button, a.email-button:hover {
  background: url("/images/email_alt.png") no-repeat center center; }

footer a.rss-button, a.rss-button:hover {
  background: url("/images/rss_alt.png") no-repeat center center; }

/* =Global
----------------------------------------------- */
.island {
  max-width: 900px;
  margin: 0 auto; }

a:link, a:visited {
  color: #e57554; }

a:active, a:hover {
  color: #dddddd; }

p {
  margin-bottom: 1.5em; }

ul, ol {
  margin-bottom: 1.5em;
  position: relative;
  left: 2em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

blockquote {
  font-family: "futura-pt", sans-serif;
  font-style: italic;
  color: #aaa;
  font-size: 1.2em;
  margin-bottom: 1.5em; }

figcaption {
  color: #888;
  font-family: "futura-pt", sans-serif;
  font-size: .9em;
  margin-bottom: 1.5em; }

code {
  font-family: monospace;
  white-space: pre; }

.media-container, .media-container-full-width {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1.5em; }
  .media-container iframe, .media-container object, .media-container embed, .media-container-full-width iframe, .media-container-full-width object, .media-container-full-width embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  width: 40%;
  font-size: 2em;
  text-align: right;
  position: relative;
  left: 0em; }
  .social-links li {
    display: inline;
    margin-left: .125em; }
  .social-links a {
    text-decoration: none; }

.button-link {
  display: inline-block;
  background: #e57554;
  padding: 1em 1.2em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

a.button-link:link, a.button-link:visited {
  color: #f9ddd5;
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .75em; }

a.button-link:hover, a.button-link:active {
  color: #ffffff; }

/* =Header
----------------------------------------------- */
#site-header {
  padding: 4em 0;
  background: #efefef;
  border-top: 5px solid #e57554; }
  #site-header h1 {
    font-family: "futura-pt", sans-serif;
    font-weight: 200;
    font-size: 1.25em; }
    #site-header h1 strong {
      font-weight: 600; }
    #site-header h1 a:link, #site-header h1 a:visited {
      color: #222222;
      text-decoration: none; }
  #site-header img.avatar {
    overflow: hidden;
    width: 50px;
    margin: 0.15em 1em 0 -70px;
    padding: 0;
    border-radius: 10px;
    float: left; }
  #site-header .tagline {
    font-size: .85em;
    font-family: "futura-pt", sans-serif; }
  #site-header a:hover, #site-header a:active {
    color: #222222; }
  #site-header #identity {
    float: left;
    text-transform: uppercase;
    width: 40%; }

nav {
  list-style-type: none;
  display: block;
  clear: both; }

nav li {
  display: inline;
  margin-right: .3em; }

nav a:link, nav a:visited {
  font-weight: bold;
  text-decoration: none;
  font-family: "futura-pt", sans-serif; }

/* =Content
----------------------------------------------- */
.post, .page {
  margin: 5em auto 6em; }
  .post h1, .page h1 {
    font-size: 5em;
    font-weight: 600;
    line-height: 1.1em;
    font-family: 'futura-pt', sans-serif;
    margin-bottom: .5em;
    letter-spacing: -.04em; }
  .post aside, .page aside {
    clear: both;
    float: left;
    width: 21.6393202%;
    margin-right: 0%;
    border-top: 2px solid #e57554;
    padding-top: 1em;
    margin-top: .5em; }
    .post aside img, .post aside p, .post aside ol, .post aside ul, .post aside figcaption, .post aside h3, .page aside img, .page aside p, .page aside ol, .page aside ul, .page aside figcaption, .page aside h3 {
      width: 100%; }

.post.banner, .page.banner {
  margin-top: 0; }

.post p, .post ul, .post ol, .post h2, .post h3, .post blockquote, .post img, .post figcaption, .post .media-container, .post .highlight {
  float: right;
  width: 72.3606798%; }
.post .media-container-full-width, .post img.full-width {
  clear: both;
  float: none;
  width: 100%; }

#post-content {
  margin-bottom: 3em; }

#masthead {
  background: #e57554;
  margin-top: 0;
  margin-bottom: 6em; }

#home-masthead-content {
  min-height: 450px;
  background: url("/images/bg.png") no-repeat center right; }

#home-masthead-content h2 {
  width: 45%;
  color: #f9ddd5;
  padding-top: 2.5em;
  font-size: 2.2em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0; }

p.excerpt {
  float: none;
  width: 100%;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 1.2em;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1em;
  line-height: 1.2em; }

.post-meta h3 {
  font-size: .75em;
  color: #888888;
  text-align: left;
  margin-bottom: 0; }

#tag-list {
  margin-bottom: 4.5em; }
  #tag-list h2 {
    margin-top: 0em; }
  #tag-list ul {
    list-style-type: none;
    left: 0px; }
  #tag-list li {
    display: inline-block;
    margin-right: .75em; }

#recent-articles ul {
  list-style-type: none;
  left: 0; }
#recent-articles li {
  margin: 1.5em 0; }
#recent-articles aside {
  margin-top: 0;
  margin-bottom: 1.5em; }

.post-tags {
  list-style-type: none;
  left: 0; }
  .post-tags li {
    margin: 0 .5em -.2em 0 !important;
    float: left; }
    .post-tags li a:after {
      content: ", "; }
  .post-tags li:last-child a:after {
    content: ""; }

.article-details {
  float: right;
  width: 72.3606798%;
  border-top: 1px solid #dddddd; }
  .article-details a:link, .article-details a:visited {
    text-decoration: none; }
  .article-details h2 {
    margin-top: 1em; }
    .article-details h2 a:after {
      content: " \BB "; }

#portfolio-masthead-details {
  width: 45%;
  color: #f9ddd5;
  float: left;
  padding: 4.5em 0 6em; }

#portfolio-masthead-details h3 {
  font-weight: normal;
  margin-bottom: 1.5em; }

#portfolio-masthead-image {
  width: 50%;
  float: right;
  padding-top: 1.5em; }

#portfolio-page-details h2 {
  padding-top: 1.5em; }

#portfolio-page-content img {
  border: 1px solid #efefef; }

.portfolio-page-details {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin: 5em 0;
  padding: 2em 0; }

#disqus_thread {
  font-family: "jubilat", sans-serif; }

.next-link, .previous-link {
  position: fixed;
  top: 50%;
  height: 75px;
  width: 80px;
  text-indent: -9999999px;
  border-radius: 30px; }

.next-link {
  background: url("/images/left-arrow.png") no-repeat 31px center #222222;
  left: -25px; }

.previous-link {
  background: url("/images/right-arrow.png") no-repeat 18px center #222222;
  right: -25px; }

.highlight {
  border: 1px solid #dddddd;
  clear: both;
  overflow: scroll;
  border-radius: 10px; }

pre {
  padding: 1em; }

.portfolio-details {
  float: right;
  width: 72.3606798%; }

#page-content {
  width: 72.3606798%;
  float: right; }

a:link.twitter, a:visited.twitter {
  color: #00acee; }

a:link.instagram, a:visited.instagram {
  color: #634d40; }

a:link.dribbble, a:visited.dribbble {
  color: #ea4c89; }

a:link.github, a:visited.github {
  color: #171515; }

a:link.strava, a:visited.strava {
  color: #fc4c02; }

/* =Footer
----------------------------------------------- */
footer {
  clear: both;
  background: #222;
  color: #ccc;
  font-family: "futura-pt"; }
  footer #footer-content {
    padding: 1.5em 0 2em; }
  footer .top-link {
    display: block;
    width: 75px;
    height: 50px;
    text-indent: -9999px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    background: url("/images/up-arrow.png") no-repeat center center #222222;
    border-radius: 50px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  footer .top-link:hover {
    top: -24px; }

footer a:link, footer a:visited {
  color: #ccc; }

footer a:hover, footer:active {
  color: #e57554; }

footer .footer-text {
  float: left;
  width: 50%; }

footer .social-links {
  top: -.75em; }
