$background: #F2F2F2;
$body-text: #222222;
$alternate-text-color: #AAAAAA;
$primary-color: #e57554;
$complement-color: #DDDDDD;

$link-color: $primary-color;
$hover-color: $complement-color;
$divider-color: $complement-color;



