$body-text: #222222;
$background: #F2F2F2;
$orange: #e57554;
$secondary: #3F7EA6;
$tertiary: #D99E32;
$quaternary: #46483C;
$link-colour: $orange;
$hover-colour: #dddddd;
$divider-colour: #dddddd;
$contrast-text: #888888;
$masthead-contrast: #f9ddd5;
$palatinate: #7E317B;
$brewing: #F79400;
$cycling: #64D3F5;