footer {
  clear:both;
  margin-top:4em;
  background:#efefef;
  border-top:2px solid $orange;
  color:#888;
  font-family:"futura-pt";
  #footer-content {
     padding:1.5em 0 2em;
  }
}

footer a:link, footer a:visited {
  color:#ccc;
}

footer a:hover, footer:active {
  color:#e57554;
}

footer .footer-text {
	float:left;
	width:50%;
}

footer .social-links {
	top:-.75em;
}