@mixin grid_72_right {
		float:right;
  	width:72.3606798%;
}
.post, .page {
	border-top:4px solid $primary-color;
	background:#ffffff;

	padding-top:3em;
	h1 {
		font-weight:600; line-height:1.1em;
		margin-bottom:0.75em;
	}
.post-date {
	text-align:center; margin-bottom:1.5em; color:$alternate-text-color;
	font:0.8em "ff-meta-web-pro", Arial, sans-serif; text-transform:uppercase;
}
}
#post-content {
	margin:auto auto 3em;
}
p.excerpt {
	float:none; width:100%; margin-bottom:1.5em; padding-bottom:1.5em;
	border-bottom:1px solid $divider-color;
}
#post-meta {
	margin-bottom:4.5em;
	font:0.8em "ff-meta-web-pro", arial, sans-serif; color:$alternate-text-color;
	border-top:2px solid $divider-color;
	border-bottom:2px solid $divider-color;
	background:$background;
	padding:1em;
	h2 { margin-top:0em; }

}

ul#tags-list {
	list-style-type:none; left:0px; padding:0; margin:0;
	li {
		display:inline-block; margin:0em 0.5em 0.5em auto; padding:0;
		a:after { content: ", "; }
	}
	li:last-child { a:after { content: ""; } }
}

#recent-articles {
	width:80%; margin:0 auto;
	ul { list-style-type:none; left:0; }

	li { margin:1.5em 0; }

	.date-list {
		font: italic 1em "ff-meta-serif-web-pro", arial, sans-serif;
		color: $alternate-text-color;
	}
}

.article-details {
	width:100%; clear:both; margin-bottom:3.5em; padding-bottom:1.5em;
	border-bottom:2px solid $primary-color;
	a:link, a:visited { text-decoration:none; }
	h2 { margin-top:1em;
		a:after { content: " \BB "; }
	}
}
#disqus_thread { font-family: "jubilat", sans-serif; }
.next-link, .previous-link {
	position:fixed; top:50%; display:none; border-radius:30px;
	height:75px; width:80px; text-indent:-9999999px;
}
.next-link {
	background:url('/images/left-arrow.png') no-repeat 31px center $body-text;
	left:-25px;
}
.previous-link {
	background:url('/images/right-arrow.png') no-repeat 18px center $body-text;
	right:-25px;
}
.highlight {
	border:1px solid $divider-color; clear:both;  border-radius:10px;
	overflow-x:auto; overflow-y: hidden; width:100%;
	code { overflow:auto; width:100%!important;}
}
pre { padding:1em; }

img.avatar { display:block; margin:0 auto 1.5em;}
