<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Personal blog of Adam James Clarkson - Engineering Manager, and home automation enthusiast"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">

    <link rel="preconnect" href="https://use.typekit.net" crossorigin />

    <link rel="preload" as="style" href="https://use.typekit.net/ahk4squ.css">
    <link rel="stylesheet" media="print" onload="this.media='all'" href="https://use.typekit.net/ahk4squ.css">
    
    <script src="https://kit.fontawesome.com/9cb1ed0142.js" crossorigin="anonymous"></script>
    <title>{{ title }} | Adam James Clarkson</title>
</head>
<body>
    

    {{ content | safe }}

   

</body>

</html>