---
layout: layouts/base.njk
---

{% include "navbar.njk" %}
<main>
<section class="post-header">
<h1 class="post-header__title">{{ title }}</h1>
<div class="post-header__meta">
Posted on {{ date | readableDate }} <span class="post-header__highlight">•</span> ~{{ content | timeToRead }} reading time
</div>

<div class="post-header__divider"></div>
</section>




<section class="content">
  <div class="post-body">
    {{ content | safe }}
  </div>
</section>

<div id="disqus_thread" class="post-body__comments"></div>
<script>
var disqus_config = function () {
  this.page.url = "{{metadata.url}}{{ page.url }}"; 
  this.page.identifier = "{{ page.fileSlug }}";
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://{{ metadata.disqus.shortname }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>  

</main>
{% include "footer.njk" %}