//
// typography.scss - ajclarkson.co.uk
//
// type setting for the site
//

h1 {
	font-weight:400;
	font-size: 2.5em;
	line-height:1em;
	margin-bottom:$baseline;
	font-family:$sans-font;

	.em1 {
		color:#68717D;
	}
	.em2 {
		color:#ADB4C4;
	}
	@media screen and (min-width:500px) {
		font-size:3rem;
	}
}

h2 {
	font-weight:400;
	font-size:1.5em;
	font-family:$sans-font;
	margin-bottom:$baseline/4;
}

h3 {
	font-weight:400;
	font-size:1em;
	font-family:$sans-font;
	text-transform:uppercase;
	line-height: $baseline;
	margin-bottom:$baseline/2;
	letter-spacing:0.5px;
	color:$head-background;
}

h4 {
	font-family:$sans-font;
	margin-bottom:$baseline/2;
}

a, a:visited {
	color:$highlight;
	text-decoration:none;

	.dark-mode & {
		color:$highlight-invert;
	}
}

a:hover, a:active {
	color:$dark-complement;

	.dark-mode & {
		color: $dark-complement-invert;
	}
}

#nav a, #nav a:visited {
	font-family:$sans-font;
	color:$light-complement;
}

#nav a:hover, #nav a:active {
	font-family:$sans-font;
	color:$highlight;
}

.js-dark-mode {
	color:$light-complement;

}

#identity {
	font-family:$sans-font;
	
}

a#identity, a:visited#identity {
		color:$light-complement;
	}
	a:hover#identity, a:active#indentity {
		color:$highlight;
	}

#hire-box {
	a, a:visited {
		color:$light-complement;
		font-family: $sans-font;
		text-transform:uppercase;
		@extend %small;
	}
	a:hover, a:active {
		color: $highlight;
	}
}

%small {
	font-size:0.75em;
}

small, .small {
	@extend %small;
}

.type-target {
		font-family:$code-font;
		font-size:1em;

		strong {
			color: #68717D;
		}

		em {
			font-style: normal;
			color: #ADB4C4;
		}
	}

.term {
	strong {
		color:$highlight;
	}
}
.excerpt {
	font-size:1.2em;

	
}

#process {
	font-family:$sans-font;
	text-transform:uppercase;
	letter-spacing:1px;
}

code {
	@extend %small;
	font-family: $code-font;
}

blockquote {
	padding-left:$baseline;

	width:100%;

	font-weight:400;
	font-style:italic;
	font-size:1.2em;
	font-family:$serif-font;
	line-height:$baseline;
	color: $dark-complement;

	border-left:2px solid $highlight;

	@media (min-width:500px) {
		margin:auto auto $baseline;
		width:85%;
	}

	.dark-mode & {
		color:$dark-complement-invert;
	}
}

.emph {
	color:$highlight;
}

%meta {
	font-weight:400;
	@extend %small;
	font-family:$sans-font;
	color:$dark-complement;
	text-transform:uppercase;

	.dark-mode & {
		color:$dark-complement-invert;
	}
}
.meta {
	@extend %meta;
}
figcaption {
	@extend %meta;
	margin:$baseline/4 0 $baseline;
	text-align:center;
}
#post_meta, .post_date, .date_list {
	@extend %meta;
}

#disqus_thread {
	font-family:$sans-font;
}

#site_footer {
	@extend %meta;
}