---
import { getCollection } from "astro:content";
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Home Automation";
---
<PageLayout pageTitle={pageTitle}>
    <h1>Home Automation</h1>
</PageLayout>
