---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Home";
---
<PageLayout pageTitle={pageTitle}>
        <div class ="flex-grid-thirds">
            <div class="col-1 logo">
                <h1>AJC</h1>
            </div>
            <div class="col-2 masthead">
                <p>Senior Engineering Manager and Home Automation Nerd</p>
            </div>
        </div>
        <div class="flex-grid-thirds">
            <div class="col-3">
            <p>I'm a Senior Engineering Manager with the fantastic people at <a href="https://ocadotechnology.com/">Ocado Technology</a>, where I focus on enabling autonomy and delivering high quality software. I'm also a Home Automation enthusiast, and I spend quite a lot of my spare time experimenting with that and <a href="/blog">writing</a> about it.</p>
            </div>
            <div class="home-page-links">
                <a href="/blog">Blog</a> / <a href="https://linkedin.com/profile/ajclarkson">LinkedIn</a>
            </div>
        </div>
</BaseLayout>
