---
layout: default
title: Articles Archive
---

<article class="page island">
	<h1>Archive</h1>
	<p class="excerpt">I write about a range of topics covering web design, software development, and the processes that I use. I also write about my experiences in these fields.</p>

	<section id="post-content">
		<h2>Topics</h2>
		<ul id="tags-list">
			{% for tag in site.tags %}
				<li><a href="/tag/{{tag[0]}}">{{ tag[0] }}</a></li>
			{% endfor %}
		</ul>
	</section>

	<section id="recent-articles">
		{% for post in site.categories['blog'] %}
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if currentyear != year %}
				{% unless forloop.first %}</ul>{% endunless %}
				<h2>{{ currentyear }}</h2>
				<ul>
				{% capture year %}{{currentyear}}{% endcapture %}
			{% endif %}
			<li><span class="date-list">{{ post.date | date: "%d/ %b" }}</span> &ndash; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</section>
</article><!-- /page -->