---
---
@import "colours";
/* =Reset
-------------------------------------------------------------- */
@import "reset";
/* =Typography
----------------------------------------------- */

body, button, input, select, textarea {
	font: normal 100%/1.4 "ff-meta-serif-web-pro", georgia, serif; color: $body-text;
}

h1 { font: italic 3.5em/1.1 "ff-meta-serif-web-pro", georgia, serif; margin-bottom:0.5em; text-align:center;}
h2 {font: bold 1.5em/1.5 "ff-meta-web-pro", 'Arial', sans-serif; margin:.5em 0; }
h3 {font: bold 1em/1.5 "ff-meta-web-pro", "Arial", sans-serif; margin:1.5em 0 0.5em 0 ; text-transform:uppercase;}
h4 { font-size: 1.125em; line-height:1.5em;}
h5 { font-size: 1em; line-height:1.5em;}

p.excerpt { font-size:1.2em; line-height:1.2em; text-align:center; }
strong { font-weight:600; letter-spacing:.03em; }
em { font-style:italic; }
code { background: $background; padding:0.2em;  font-family: 'source-code-pro', monospace; font-size:0.75em; white-space:pre-line; }
.highlight code { background: none; padding: 0; white-space:pre; }

/* =Global
----------------------------------------------- */
.island { max-width:900px; margin:0 auto; width:90%; padding: auto 1.5em; }

a:link, a:visited {
	color:$link-color;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

a:active, a:hover { color:$hover-color; }
p { margin-bottom:1.5em; }

ul, ol { margin-bottom:1.5em; position:relative; left:2em; }
ul { list-style-type:disc; }
ol{ list-style-type:decimal; }

blockquote {
	font: 1.2em/1.4 "ff-meta-serif-web-pro", sans-serf; font-style:italic;
	color:$alternate-text-color; margin-bottom:1.5em; padding-left:2em;
	border-left:2px solid $primary-color; width:80%;
}

figcaption { font: 0.7em "ff-meta-web-pro", sans-serif; color:$alternate-text-color; margin-bottom:1.5em;  width:100%; text-align:center;}


.media-container, figure {
	margin-left:0;
	margin-bottom:1.5em; display:block;
	width:100%; clear:both; float:none; overflow: hidden;
	img { width:100%; }
	.highlight { overflow:scroll; }
	figcaption { padding-top:0.5em; }
	iframe, object, embed, figcaption { clear:both; width: 100%!important; }
}

/* =Header
----------------------------------------------- */
@import "site-header";

/* =Content
----------------------------------------------- */
@import "site-body";

a:link.twitter , a:visited.twitter { color:#00acee; }
a:link.instagram, a:visited.instagram { color:#634d40;}
a:link.dribbble, a:visited.dribbble { color:#ea4c89;}
a:link.github, a:visited.github { color:#171515; }
a:link.strava, a:visited.strava { color:#fc4c02; }

/* =Footer
----------------------------------------------- */
@import "site-footer";

/* =Media Queries
----------------------------------------------- */

@media screen and (min-width: 20.00em) {
	body { font-size:106% }
	h1 { font-size:2.5em;}
	p.excerpt { font-size: 1.2em; }
}

@media screen and (min-width: 25.00em) {
	body { font-size:108% }
}

@media screen and (min-width: 37.5em) {
	/* Split to Column Layout Mode */
	body { font-size:112%; }
	p.excerpt { font-size: 1.2em;}
	#site-header {
		font-size:1em;
		a { margin-left:2em; text-align:left!important;}
	}
	#blog_tile {
		background:url('/images/blog.png') no-repeat 0.3em;
		background-size:1.4em;
	}
	#projects_tile {

		background:url('/images/projects.png') no-repeat 0.3em;
		background-size:1.4em;
	}
	#about_tile {
		background:url('/images/about.png') no-repeat 0.3em;
		background-size:1.4em;
	}

	.post, .page {
		max-width: 40em;
		#post-content {
			width:80%;
			margin:0 auto;
		}
		#recent-articles {
			width:80%;
		}
		.media-container, figure {
			width:120%;
			margin-left:-10%;
		}
	}
		p.excerpt {
			width:100%;
		}

		blockquote {
			font: 1.2em/1.4 "ff-meta-serif-web-pro", sans-serf; font-style:italic;
			color:$alternate-text-color; margin:auto auto 1.5em 0em; padding-left:2em;
			border-left:2px solid $primary-color; width:95%;
		}

}

@media screen and (min-width: 56.250em ) { body { font-size: 125.0%; } }

@media screen and (min-width: 64.375em ) {
	body { font-size: 137.5%; }
	.next-link, .previous-link { display:block; }
}

@media screen and (min-width: 75.00em) and (min-height: 37.5em) { body {font-size:145%; } }
@media screen and (min-width: 88.00em) { .island { padding:auto 0; } }
