---
---
@import "colours";
/* =Reset
-------------------------------------------------------------- */
@import "reset";
/* =Typography
----------------------------------------------- */

body, button, input, select, textarea {
	font: normal 100%/1.4 "jubilat", georgia, serif; color: $body-text;
}

h1 { font: 4em/1.1 "futura-pt", 'Arial', sans-serif; letter-spacing:-.04em; margin-bottom:0.5em; }
h2 {font: bold 1.5em/1.5 "futura-pt", 'Arial', sans-serif; margin:.5em 0; }
h3 {font: bold 1em/1.5 "futura-pt", "Arial", sans-serif; margin:auto 0 1.5em; text-transform:uppercase;}
h4 { font-size: 1.125em; line-height:1.5em;}
h5 { font-size: 1em; line-height:1.5em;}

p.excerpt { font-size:1.5em; line-height:1.2em; font-weight:400; }
strong { font-weight:600; letter-spacing:.03em; }
em { font-style:italic; }


/* =Global
----------------------------------------------- */
.island { max-width:900px; margin:0 auto; padding:0 1.5em; }

a:link, a:visited {
	color:$link-color;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

a:active, a:hover { color:$hover-color; }
p { margin-bottom:1.5em; }

ul, ol { margin-bottom:1.5em; position:relative; left:2em; }
ul { list-style-type:disc; }
ol{ list-style-type:decimal; }

blockquote {
	font: 1.2em "futura-pt", sans-serf; font-style:italic;
	color:$alternate-text-color; margin-bottom:1.5em;
}

figcaption { font: 0.9em "futura-pt", sans-serif; color:$alternate-text-color; margin-bottom:1.5em; }
code { font-family: monospace; white-space:pre; font-size:0.85em;}

.media-container {
	background:$background; padding:1em 1em 0; margin-bottom:1.5em;
	width:100%; clear:both; float:none; overflow: hidden; border-radius:20px;
	img { width:100%!important; }
	.highlight { overflow:scroll; width:100%!important;}
	figcaption { padding-top:0.5em; }
	iframe, object, embed, figcaption { clear:both; float:none!important; width: 100%!important; }
}

/* =Header
----------------------------------------------- */
@import "site-header";

/* =Content
----------------------------------------------- */
@import "site-body";

a:link.twitter , a:visited.twitter { color:#00acee; }
a:link.instagram, a:visited.instagram { color:#634d40;}
a:link.dribbble, a:visited.dribbble { color:#ea4c89;}
a:link.github, a:visited.github { color:#171515; }
a:link.strava, a:visited.strava { color:#fc4c02; }

/* =Footer
----------------------------------------------- */
@import "site-footer";

/* =Media Queries
----------------------------------------------- */

@media screen and (min-width: 20.00em) {
	body { font-size:106% }
	h1 { font-size:2.5em;}
	p.excerpt { font-size: 1.2em; }
	#tiles { font-size: 0.8em!important;}
}

@media screen and (min-width: 25.00em) {
	body { font-size:108% }
	#tiles { font-size: 0.5em; }
}

@media screen and (min-width: 37.5em) {
	/* Split to Column Layout Mode */
	body { font-size:112%; }
	h1 { font-size: 4em;}
	p.excerpt { font-size: 1.5em;}
	#tiles { font-size: 1.2em!important;}
	#tiles li {height:7em!important;}
	.tile_icon { margin:1em auto 0.5em;}
	.tile_icon img { width:64px!important; }

	.post, .page {
		aside {
			border-top:2px solid $primary-color; border-bottom: none;
			float:left; width:21.6393202%; margin-right:0%; padding-top:1em;
			img, p, ol, ul, figcaption, h3 { width:100%;}
			.datebox, .tagbox { float:none; width:100%;}
		}
		.article-details {
			@include grid_72_right; clear:none;
			border-top:1px solid $divider-color;
			margin-bottom:none; padding-bottom:none; border-bottom: none;
		}
	}
	.post {
		p, ul, ol, h2, h3, blockquote, img, figcaption, .highlight {
			@include grid_72_right;
	}
		p.excerpt {
			width:100%;
		}
	}
}

@media screen and (min-width: 56.250em ) { body { font-size: 125.0%; } }

@media screen and (min-width: 64.375em ) {
	body { font-size: 137.5%; }
	.next-link, .previous-link { display:block; }
}

@media screen and (min-width: 75.00em) and (min-height: 37.5em) { body {font-size:145%; } }
@media screen and (min-width: 88.00em) { .island { padding:0; } }
