---
const { date, title, url } = Astro.props
const postYear = date.toLocaleDateString('en-gb', { year: 'numeric' });
const postMonth = date.toLocaleDateString('en-gb', { month: '2-digit' });
---
<div class="row">
    <div class="col-25">{postYear}/{postMonth}</div>
    <div class="col-75"><a href={url}>{title}</a></div>
</div>
