---
---
<div>
    <div class="row">
    <div class="brand col-25 collapse-to-50"><a href="/">AJC</a></div>
    <div class="links col-75 collapse-to-50"><a href="/blog/" class="header-link">Blog</a></div>
    </div>
</div>
