---
const { tags } = Astro.props;
---

<div class="tags">
    {tags.map((tag: string) => (
      <span class="tag"><a href={`/tags/${tag}`}>{tag}</a></span>
    ))}
</div>

<style>
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
    
    a:link, a:visited, a:active {
      color: var(--accent-color);
    }
    a:hover {
        color: var(--link-hover-color);
    }

    .tags {
        display: inline-block;
    }

    .tag {
    }
</style>
