
:root {
    --base: #222222;
    --primary-accent: #FF9600;
    --secondary-accent: #D4D7D9;
    --tertiary-accent: #EFEFEF;
    --quaternary-accent: #BBBBBB;
}
html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-size:1.5em;
    font-family: "acumin-pro-semi-condensed",sans-serif;
    color: var(--base);
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    font-size:3.2em;
    line-height: 1.25em;
}

h2 {
    font-size: 2.5em;
}

a:link, a:visited {
    color: var(--base);
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-accent);
}
a:hover, a:active {
    color: var(--primary-accent);
    border-bottom: 2px solid var(--primary-accent);
    transition: 0.3s;
}

nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

nav.flexbox ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    font-weight:800;
}

nav.flexbox ul li {
    margin-right: 3em;

}

nav a:link, nav a:visited {
    color: var(--quaternary-accent);
    font-size: 0.75em;
    text-decoration:none;
    border-bottom: none;
}

nav a:hover, nav a:active {
    color: var(--primary-accent);
    transition: 0.3s;
}

main {
    max-width: 800px;
    margin: 5em auto 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    font-size: 0.75em;
    color: var(--quaternary-accent);
    border-top: 1px solid var(--secondary-accent);
    margin:6em 3em 0;
    font-weight: 600;
}

footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-weight:800;
}

footer ul li {
    margin-right: 1.5em;
    padding-right: 1.5em;
    border-right: 1px solid var(--secondary-accent);
}

footer ul li:last-child {
    border-right:0;
    margin-right: 0;
}


footer a:link, footer a:visited {
    color: var(--quaternary-accent);
    text-decoration:none;
    border-bottom: none;
}

footer a:hover, nav a:active {
    color: var(--primary-accent);
    transition: 0.3s;
}

#masthead {
    font-size:2em;
    line-height:1.5em;
    font-weight:800;
    margin-bottom: 1.5em;
}

.post-body img {
    width:100%;
    margin: 1.5em 0;
}

.post-body h2 {
    font-size:1.5em;
    margin-top: 1.5em;
}

.meta-divider {
    width:100px;
    border-top: 5px solid var(--primary-accent);
    height: 0px;
    margin:1.5em 0;
}

.post-date {
    font-size:1.5em;
    font-weight:800;
}

.sub-nav {
    
    border-top: 1px solid var(--secondary-accent);
}
.sub-nav ul {
    list-style-type: none;
    padding: 0;
}

.sub-nav ul li {
    display: inline-block;
}

.sub-nav ul li:first-child {
    margin-left: 0;
}

.post-list-item {
    border-bottom: 1px solid var(--secondary-accent);
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.post-list-item:last-child {
    border-bottom:0;
}

.post-list-item__date {
    color: var(--primary-accent);
    font-size: 0.75em;
    font-weight: 800;
}

.post-list-item h3 {
    margin-top: 0.5em;
    font-size:1.5em;
}

.home-logo {
    margin-bottom: 1.5em;
}

#disqus_thread {
    margin-top: 3em;
}
