---
layout: default
---
<article class="home">
	<header id="masthead">
		<section id="masthead_content" class="wrap">
			<h1><span class="em1">Adam</span><br /><span class="em2">James</span><br />Clarkson</h1>
			<p class="excerpt type-target"><span class="term"><strong>$></strong></span> <span class="type-target-home"></p>
		</section>
	</header>
	<div class="work_slider">

	{% for post in site.categories['projects'] %}
		{% capture showcase %}{{ post.showcase }}{% endcapture %}
		{% if showcase == 'true' %}
			<div>
				<span>{% picture {{ post.image_name }}.png  %}</span>
				<section class="work-meta">
					<aside class="wrap">
						<h4>{{ post.title }}</h4>
						<p>{{ post.skills }}</p>
						<a href="{{ post.url }}" class="call-to-action">View Details</a>
					</aside>
				</section>
			</div>
		{% endif %}
	{% endfor %}
	</div>

	<section class="content_block wrap" >
		{{ content }}
	</section><!-- /post-content -->
</article><!-- /article.post -->