---
layout: default
---
<article>
	<header id="masthead">
		<section id="masthead_content" class="wrap home">
			<h1><span class="em1">Adam</span><br /><span class="em2">James</span><br />Clarkson</h1>
			<p class="excerpt type-target"><span class="term"><strong>$></strong></span> <span class="type-target-home"></p>
		</section>
	</header>
	<div class="work_slider">
	  <div><span>{% picture mopilates_screen.png  %}</span><section class="work-meta"><aside class="wrap"><h4>Michelle Ormrod Pilates</h4></aside></section></div>
	  <div><span>{% picture tgjbrock_screen.png  %}</span>
	  <section class="work-meta"><aside class="wrap"><h4>Tom Brock - Personal Site</h4></aside></section></div>
	  <div><span>{% picture er_print.png  %}</span><section class="work-meta"><aside class="wrap"><h4>Football Stadium Prints</h4></aside></section></div>
	  <div><span>{% picture scr_screen.png  %}</span>
	  <section class="work-meta"><aside class="wrap"><h4>St Aidan's College SCR</h4></aside></section></div>
</div>
	<section class="content_block wrap" >
		{{ content }}
	</section><!-- /post-content -->
</article><!-- /article.post -->