---
layout: default
---
<article>
	<header id="masthead">
		<section id="masthead_content" class="wrap">
			{% if page.title %}
				<h1>{{ page.title }}</h1>
			{% endif %}
			{% if page.excerpt %}

				{% if page.id == "about" %}
				<p class="excerpt type-target"><span class="term"><strong>$></strong></span> <span class="type-target-about"></span></p>
				{% elsif page.id == "projects" %}
				<p class="excerpt type-target"><span class="term"><strong>$></strong></span> <span class="type-target-projects"></span></p>
				{% elsif page.id == "blog" %}
				<p class="excerpt type-target"><span class="term"><strong>$></strong></span> <span class="type-target-blog"></span></p>
				{% else %}
				<p class="excerpt">{{ page.excerpt }}</p>
				{% endif %}
			{% endif %}
		</section>
	</header>
	<section class="content_block wrap" >
		{{ content }}
	</section><!-- /post-content -->
</article><!-- /article.post -->




























