---
layout: default
---
<article>
	{% if page.next_in_category != nil %}
		<a href="{{page.next_in_category.url}}" class="next_link">Older Post</a>
	{% endif %}
	{% if page.previous_in_category != nil %}
		<a href="{{page.previous_in_category.url}}" class="previous_link">Newer Post</a>
	{% endif %}
	<div class="post_date">&mdash; {{ page.date | date_to_long_string }} &mdash;</div>
	<h1>{{ page.title }}</h1>
	<p class="excerpt">{{ page.excerpt }}</p>

	<section class="content_block" >
		{{ content }}

	<aside id="post_meta">
		<ul id="tags-list">
			<li>Tagged:</li>
			{% for tag in page.tags %}
				<li><a href="/tag/{{tag}}">{{tag}}</a></li>
			{% endfor %}
		</ul><!-- /post-tags-->
	</aside>

	</section><!-- /post-content -->

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'ajclarkson';
		var disqus_identifier = '{{ page.url }}';
		var disqus_url = 'http://ajclarkson.co.uk{{ page.url }}';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</article><!-- /article.post -->




























