//
// layout.scss - ajclarkson.co.uk
//
// guides for site layout
//

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrap {
	max-width:45rem;
	margin: 0 auto;
	padding: $baseline;
	// @extend %clearfix;
}

hr {
	margin-bottom: $baseline;
	height:0;
	border:0;
	border-top:1px solid $light-complement;
}
