//
// variables.scss - ajclarkson.co.uk
//
// site-wide variables for easy modification

//Sizes
$base-font-size:(16/16)*100%;
$baseline-unitless: (26/16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;

//Fonts
$serif-font: "ff-meta-serif-web-pro", Georgia, serif;
$sans-font: "ff-meta-web-pro", Arial, sans-serif;
$code-font: "Source Code Pro", Monaco, monospace;

//Colors
$background: #F2F2F2;
$highlight: #E57554;
$alternate-highlight: #3F7EA6;
$light-complement: #DDDDDD;
$dark-complement: #AAAAAA;
$body-text: #222222;