<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Syntax Highlighter -->
        <link rel="stylesheet" href="/stylesheets/syntax.css">
        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/bwl3cak.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>

        
        <header id="site-header">
            <section id="site-header-content" class="island clear">
                <img src="/images/new-avatar.jpg" alt="Adam James Clarkson" class="avatar"/>
                <div id="identity">
                    <h1 class="title"><a href="/"><strong>Adam</strong> James Clarkson</a></h1>
                    <p class="tagline">Designer | Developer | Postgrad</p>
                </div><!-- /identitiy -->  
                {% include social-links.html %}
                <nav>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/projects">projects</a></li>
                    <li><a href="/blog">blog</a></li>
                </nav>

            </section><!-- /site-header-content -->
        </header><!-- /header -->


        {{ content }}

        <footer class="clear">
            <a href="#" class="top-link">Back to Top</a>
            <section id="footer-content" class="island">
                <div class="footer-text">&copy;2013 ajclarkson </div>
                {% include social-links.html %}
            </section>
        </footer><!-- /footer -->
          

      

    </body>
</html>
