---
layout: layouts/base.njk
title: Home
---
<main>
<img class="home-logo" src="/img/logo.png" alt="Adam James Clarkson"/>
{% include "masthead.njk" %}

<section class="sub-nav">
<ul>
    <li><a href="./blog">Blog</a> /</li>
    <li><a href="./about">About</a> /</li>
    <li><a href="https://uk.linkedin.com/in/ajclarkson">LinkedIn</a>
</ul>
</section>
</main>