---
layout: layouts/base.njk
title: Home
---
<main>
<img class="home-logo" src="/img/logo.png" alt="Adam James Clarkson"/>
{% include "masthead.njk" %}

<section class="quick-links">
<ul class="quick-links__list">
    <li class="quick-links__list-item"><a href="./blog">Blog</a> /</li>
    <li class="quick-links__list-item"><a href="./about">About</a> /</li>
    <li class="quick-links__list-item"><a href="https://uk.linkedin.com/in/ajclarkson">LinkedIn</a>
</ul>
</section>
</main>