---
layout: layouts/page.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<section class = "page-header">
<h1>{{ tag }} Posts</h1>
<div class="archive-link"><a href="/blog">&laquo; Back to Archive</a></div>
</section>
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
