---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from './BaseLayout.astro';
const { pageTitle } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <div class="page-container">
        <Header segments={[{ label: 'writing', href: '/writing/' }]} />
        <slot />
        <Footer />
    </div>
</BaseLayout>
