$base-font-stack: "freight-sans-pro",sans-serif;
$heading-font-stack: "futura",sans-serif;
$code-font-stack: "source-code-pro",sans-serif;

$color-primary: #E57554;
$color-secondary: #00B2AE;
$color-tertiary: #262e32;
$color-white: #FFFFFF;
$color-gray: #dddddd;
$color-mid-gray: #aaaaaa;
$color-light-gray: #f4f4f4;
$color-dark-gray: #222222;

html {
  font-size:18px;
  margin:0;
}

body {
  font-family: $base-font-stack;
  margin:0;

  line-height: 1.75;
  font-size:1.25em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
}

a, a:visited {
  color: $color-primary;
  text-decoration: none;
}
a:hover, a:active {
  color: $color-mid-gray;
}
//masthead Component
.masthead {
  line-height:1.5;
  font-size:1.5em;
  background: $color-light-gray;
  font-family: $heading-font-stack;
}

.masthead--home {
  padding:4em 0;
}

.masthead--page {
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.masthead__logo {
  padding-top:2em;
}

.home-content {
    padding-top:3em;
}
.home-nav {

}
.home-nav__menu {

  margin:0;
  padding:0;
  list-style-type:none;
}

.home-nav__item {
  width:100%;
  margin-bottom:1em;
  background: $color-primary;

  border-radius: 10px;
  text-align:center;
  display:block;
}

.home-nav__item a {
  padding:1em;
  color: $color-white;
  display:block;
  height:100%;
}

.main-nav {
  background: $color-light-gray;
  font-size: 0.75em;
  color: $color-light-gray;
}
.nav-icon {
  width:25px;
  display:inline;
  position:relative;
  top: 7px;
  margin-left:2em;
}
.main-nav__menu {

  display:inline;
  list-style-type:none;
  padding:0;
  margin:0;
  text-transform:uppercase;
  font-weight:bold;
  margin-left:1em;

}

.main-nav__item {
  display:inline-block;
  margin:1em 1em 1em 0;
  padding-right:1em;
  border-right: 3px solid $color-mid-gray;
}
.main-nav__item:last-child {
  border-right:0;
  margin-right:0;
}

.main-nav__item--home {

}

.main-nav__item a {
  color: $color-mid-gray;
}

.main-nav__item a:hover {
  color: $color-primary;
}

.page-title {
  padding-top:1em;
  padding-bottom:0.5em;
  margin-top:0;
  margin-bottom: 1em;
}

.post-title {
  padding-top:1em;
  font-size:1.5em;
  margin-top:0;
  text-align: center;
}

.post-excerpt {
  text-align: center;
  font-family: $base-font-stack;
  font-size:0.875em;
  color: $color-mid-gray;
  margin:2em 0 2em;
}

.post-archive {
  list-style-type:none;
  padding:0 0 0 0;
}

.post-archive__item {
  margin-bottom:1.5em;
}

.post-archive__post-date {
  color: $color-dark-gray;
  display:block;
}

blockquote {
  border-left: 2px solid $color-mid-gray;
  margin-left:0;
  padding-left: 1.5em;
  color: $color-mid-gray;
}

.bio-image {
  display:inline-block;
  max-width:100px;
  border-radius:50%;
  float:left;
  margin: 0 1em 1em 0;
}

code {
  background: hsla(0,0%,0%,0.06);
  // color: #CDD3D8;
  font-family: $code-font-stack;
  font-size: 0.75em;
  line-height: 1.75em;
  padding:0.25em 0.5em;
  border-radius:5px;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius:10px;
}

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
