$base-font-stack: "freight-sans-pro",sans-serif;
$heading-font-stack: "futura",sans-serif;
$code-font-stack: "source-code-pro",sans-serif;

$color-primary: #E57554;
$color-secondary: #00B2AE;
$color-tertiary: #262e32;
$color-white: #FFFFFF;
$color-gray: #dddddd;
$color-mid-gray: #aaaaaa;

html {
  font-size:18px;
  margin:0;
}

body {
  font-family: $base-font-stack;
  margin:0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
}

a, a:visited {
  color: $color-primary;
  text-decoration: none;
}

//masthead Component
.masthead {
  max-width:700px;
  line-height:1.5;
}

.masthead__introduction {
  margin:0;
  font-size:1.5em;


  padding-bottom:1.5em;
}

.masthead__blurb {
  font-size:1.25em;
  border-top:1px solid $color-white;
  padding-top:1.5em;
}

//////////
.slide-wrapper {
  display: block;
background: #FFF;
overflow: hidden;
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
}
.slide {
  width: 100%;
    height: 100%;
    background: $color-tertiary;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    color: $color-white;
    display: flex;
  flex-direction: column;
  justify-content: center;

}

.page-content {
  margin-top:1.5em;
}
/// menu
.menu {
  position: fixed;
}
.menu__title {
  padding-top:1em;
  font-size:1em;
}

.sub-menu {
  list-style-type: none;
  padding-left:0;
  text-align:center;
}
.sub-menu__item {
  text-transform:uppercase;
  font-size:0.75em;
  margin-bottom:1em;
}

.page-title {
  border-bottom: 1px solid $color-tertiary;
  padding-bottom:0.5em;
  margin-bottom: 1em;
}

.post-archive {
  list-style-type:none;
  padding:0;
}

.post-archive__item {
  margin-bottom:1.5em;
}

blockquote {
  border-left: 2px solid $color-mid-gray;
  margin-left:0;
  padding-left: 1.5em;
  color: $color-mid-gray;
}

.bio-image {
  display:inline-block;
  max-width:100px;
  border-radius:50%;
  float:left;
  margin: 0 1em 1em 0;
}

code {
  background: hsla(0,0%,0%,0.06);
  // color: #CDD3D8;
  font-family: $code-font-stack;
  font-size: 0.75em;
  line-height: 1.75em;
  padding:0.25em 0.5em;
  border-radius:5px;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius:10px;
}

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
